
.home {
    font-family: var( --title-font-family);
}

.home__content {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}


.main__title {
    font-size: 3.875rem;
    font-weight: 700;
    color: var(--title-color);
    text-transform: uppercase;
    text-align: left;
}

.main__title-edit {
    font-style: italic;
    color: var(--subtitle-color);
}

.main__subtitle {
    font-size: 3rem;
    font-weight: 500;
    color: var(--subtitle-color);
    text-align: center;
    margin-bottom: 3rem;
}

hr {
    background-color: var(--medium-blue);
    margin: 2rem 0;
    width: 90vw;
}

.main__link {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--background-color);
    background-color: var( --medium-blue);
    padding: 1.5rem;
    border-radius: 1rem;
}

@media screen and (min-width: 1024px) {
    
    .home {
        margin: 5rem 3rem 0 3rem;
    }

    .main__title {
        font-size: 5rem;
        text-align: left;
    }

    .main__subtitle {
        font-size: 4rem;
        font-weight: 500;
        text-align: justify;
        margin: 0   ;
        padding: 2rem 0 4rem 0;
    }

    .main__link {
        font-size: 2rem;
        padding: auto;
    }

}

@media screen and (min-width: 1380px) {
    .home {
        margin: 2rem 20rem 0 20rem;
    }

    hr {
        width: 60vw;
    }

    .main__title {
        font-size: 4rem;
        font-weight: 700;
        text-align: left;
    }

    .main__subtitle {
        font-size: 3rem;
        padding: 0 0 4rem 0;
    }

    .main__link {
        opacity: 0.5;
    }

    .main__link:hover {
        opacity: 1;
        color: var(--background-color);
        background-color: var( --medium-blue);
    }
}